<form id="rating-form" method="POST" action="{% url 'ratings:edit_rating' restaurant.id rating.id %}">
    {% csrf_token %}
    
    <div>
        <label for="menu_review">Menu review:</label>
        {{ form.menu_review }}
    </div>

    <div>
        <label for="rating">Rating:</label>
        {{ form.rating }}
    </div>

    <div>
        <label for="pesan_rating">Review message:</label>
        {{ form.pesan_rating }}
    </div>
    
    <button type="submit">Submit Changes</button>
</form>
