body {
    font-family: 'Poppins', sans-serif;
    background-color: #f5f5f5;
}
.form-title {
    font-size: 24px; 
    margin-bottom: 20px; 
}

.font-calligraphy {
    font-family: 'Dancing Script', cursive;
}

.form-container input, .form-container select, .register-btn {
    width: 100%; 
    max-width: 400px; 
    padding: 10px; 
}

.register-btn {
    margin-top: 20px; 
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center; 
}

@keyframes pulse {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
}
.animate-pulse {
    animation: pulse 1.5s infinite;
}

#typewriter-text {
    overflow: hidden; /* Hide the overflowing text */
    white-space: nowrap; /* Prevent line break */
    border-right: 4px solid white; /* Create cursor effect */
    animation: typing 4s steps(30, end), blink-caret 0.75s step-end infinite;
}

@keyframes typing {
    from { width: 0; }
    to { width: 100%; }
}

@keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-color: white; }
}
