{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    {% include "head.html" %}
    {% block meta %}
    <title>{% block title %}Jogjappetite{% endblock title %}</title>
    <link rel="icon" type="image/png" href="{% static 'image/logo.png' %}">
    {% endblock meta %}
</head>

<body>
    {% include "navbar.html" %}
    <div class="pt-24 md:pt-18"> <!-- Adjust this padding-top value to match the navbar height -->
        {% block content %}{% endblock %}
    </div>
    {% comment %} {% include "footer.html" %} {% endcomment %}
</body>
{% block script %}
{% endblock script %}
</html>